{% extends 'base.html' %}

{% block content %}

<!-- Secret submission form body -->
<div class="mdc-toolbar-fixed-adjust" style="padding-top:1em; margin:auto; width:600px;">
    <br />
    <br />

    <h2 class="mdc-typography--display3" style="text-align:center;">Share your secrets</h2>
    <p class="mdc-typography--body1" style="padding-left:20px;">
        Enigma encrypts your secret end-to-end and deletes it as soon as it's opened.
    </p>
    <br />

    <form action="{% url 'home' %}" method="POST" id="form">
        {% csrf_token %}
        <div class="mdc-text-field mdc-text-field--box" style="margin:auto; width:inherit; height:250px;">
            <div style="margin:auto; width:600px; height:250px;" class="mdc-text-field--box" data-mdc-auto-init="MDCTextField">
                <textarea required id="message" name="message" type="text" class="mdc-text-field__input" style="padding:20px;"></textarea>
                <div class="mdc-text-field__bottom-line"></div>
            </div>
        </div>
        <br />
        <br />

        <p style="float:left;">
            <a style="text-decoration:none;" href="https://luc.id/privacy-policy">Privacy Policy</a>
        </p>
        <br />

        <button type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" style="float:right;">
            Generate link
        </button>
    </form>
</div>


<!-- Only display the view secret confirmation modal if a secret keys based on the specified UUID -->
{% if secret_exists %}
    <!-- Information modal -->
    <aside id="modal" class="mdc-dialog">
        <div class="mdc-dialog__surface" style="padding:20px; max-width:650px;">
            <header class="mdc-dialog__header">
                <h2 id="my-mdc-dialog-label" class="mdc-dialog__header__title">
                    {% if secret_message %}
                        Secret Message
                    {% else %}
                        View Secret?
                    {% endif %}
                </h2>
            </header>

            <section id="my-mdc-dialog-description" class="mdc-dialog__body">
                {% if secret_message %}
                    {{ secret_message }}
                {% else %}
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;This secret can only be viewed once, so store it somewhere safe!
                {% endif %}
            </section>

            <footer class="mdc-dialog__footer">
                <a href="{% url 'home' %}" id="view_secret">
                    <button type="button" class="mdc-button mdc-button--raised mdc-dialog__footer__button mdc-dialog__footer__button--accept">
                        {% if secret_message %}
                            Got It!
                        {% else %}
                            View Secret
                        {% endif %}
                    </button>
                </a>
            </footer>
        </div>
        <div class="mdc-dialog__backdrop"></div>
    </aside>


    <!-- Opens the modal on page load -->
    <!-- This is only temporary while I build usage of it out -->
    <script>
        window.onload = function() {
            var modal = document.getElementById('modal');
            modal.className += ' mdc-dialog--open';
        };
    </script>
{% endif %}

{% endblock %}
